.nav-bar {
  width: 100%;
  float: right;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-bar li {
  float: right;
  color: white;
  padding-left: 5px;
  font-size: 20px;
  background-color: #0367a6;
}

@media (min-width: 992px) {
  .nav-bar li {
    font-size: 25px;
  }
}
