.full-report-container {
  border: solid;
  color: white;
}

.report-buttons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  margin: 10px;
}

.tab-and-back-btn {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.back-btn {
  height: 8%;
}

ul {
  list-style-type: none;
}

li {
  padding-top: 5px;
}

.report-section-header {
  text-decoration: underline;
  font-weight: bold;
  font-size: 30px;
  padding-top: 10px;
}
