.folder-report-tab {
  border: solid thin;
  border-color: #a67563;
  color: black;
  background-color: #d9b19a;
  /* for selected tab color see inline style in ReportTabs component*/
  margin-bottom: 0px;
  margin-left: 2%;
  padding: 5px;
  text-align: center;
  border-bottom: none;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  max-width: 40%;
}

.add-edit-tab {
  border: solid thin;
  border-color: rgb(139, 50, 50);
  color: black;
  background-color: rgb(206, 73, 73);
  /* for selected tab color see inline style in ReportTabs component*/
  margin-bottom: 0px;
  margin-left: 2%;
  padding: 5px;
  text-align: center;
  border-bottom: none;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  max-width: 40%;
  height: auto;
}

.add-edit-tab > h3 {
  background-color: rgb(206, 73, 73);
  margin-top: 0px;
}

.report-tabs {
  display: flex;
  flex-flow: row wrap-reverse;
  justify-content: left;
  margin-bottom: 0;
  list-style: none;
}

.report-tabs > li {
  font-size: 1.15rem;
}

.report-tabs:last-of-type {
  margin-right: 30px;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .report-tabs > li {
    font-size: 1.75rem;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .report-tabs > li {
    font-size: 1.75rem;
  }
}
