.report-buttons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  margin: 10px;
  background-color: #d9b19a;
}

.back-btn {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.folder-body-content > li {
  padding-top: 5px;
  background-color: #d9b19a;
  color: black;
}

.report-section-header {
  text-decoration: underline;
  font-weight: bold;
  font-size: 25px;
  padding-top: 10px;
}
