.folder-report-tab {
  border: solid;
  color: black;
  background-color: rgb(206, 73, 73);
  margin-bottom: 0px;
  margin-top: 2%;
  margin-left: 2%;
  padding: 5px;
  text-align: center;
  max-width: 150px;
}

.report-tabs {
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 0;
  padding: 5px;
  text-align: center;
  list-style: none;
}
